#name {
    font-family: monspace;
    font-size: 50px;
    text-emphasis: underline;
    color: green;
    opacity: 0.7;
}

#name:hover {
    color: black
}

#name1 {
    font-family: monspace;
    font-size: 34px;
    text-emphasis: underline;
    color: olive;
    opacity: 0.7;
}

#name3 {
    font-family: cursive;
    font-size: 25px;
    text-emphasis: underline;
    color: olive;
    opacity: 0.9;
}

.text {
    font-family: cursive;
    font-size: 25px;
    text-emphasis: underline;
    opacity: 1;
}

.about {
    font-family: cursive;
    font-size: 20px;
}

.nav-item {
    font-family: cursive;
    color: olive
}

.navbar-brand
{
    font-family: cursive;
}

li.about:hover {
    color: olive
}

  a:visited {
    color: black;
  }

  a:hover {
    color: olive;
  }


body {
    background-image: url("orest1.jpg");
    background-repeat: repeat-y;
}

.cont {
    background-image: url("orest.jpg");
    width: 65vw;
    border: 1px solid black;
    padding: 50px;
    margin: auto;
}

